

.new-item:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
}
.navbar{
    background-color: rgb(75, 172, 232);
    height: 200px;
    border: none;
}


.p1{    
  position: relative;
  z-index: 5;
  top:-70px;
  background-color: white;
   padding-left: 10px;
   margin-left: 20px; 

}



.cards1{
    display: inline;
    justify-content:center;
    margin-left: 20px;
}
.card:hover{
 box-shadow:rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 cursor: pointer; 
}
.card-text{
    text-align: center;
    color: blue;
    font-size: 20px;

}
.card-title{
    text-align: center;
    color: rgb(16, 16, 17);
   
}

  
  .card,h5{
    text-align: center;
    
  }
  .card-title:hover{
    color: rgb(78, 78, 243);
  }
  .card,img{
    border-radius: 10px;
    padding:10px;
    box-shadow:none; 
  }
  .btn{
    
    border-radius: 5px;
    background-color: aquamarine;
  }
 
  .card{
    
    height: 500px;
    margin-top: 20px;
  }
 
  input[type=text]{
    width: 400px;
    align-items: center;
  }
  
  .bg{
    background-color: black !important;
    
    /* border: 1px solid white; */
  }
  .bg1{
    background-color: white;
  }
  .fontcolor{
    color: white !important;
    /* border: 1px solid white; */
    
  }
  .btn:hover{
    background-color: brown;
    
  }
  
  .Order{
    position: relative;
    z-index: 5;
    top:-50px;
    background-color: white;
    padding-left: 10px;
    margin-left: 20px; 
   
   /* border-radius: 10px; */
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
  
  }
  .Order h1{
    margin-bottom: 20px;
    
  }
  
  .btn1{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: aquamarine;
    justify-content: end;
    
  }
  .btn1:hover{
    background-color: brown;
  }
  p{
   font-size: 40px;
   font-weight: bold;
  
  }
  .titleproduct{
    display: flex;
    justify-content: center;
  }
 
  